<div class="form_container">
 <% if @user.errors.any? %>
    <h3>Correct the following errors!</h3>  
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>  
  <% end %>

  <%= form_for @user, html:{:class => 'user_form'}  do |f|  %>
    <%= f.label :username, 'Enter your username' %><br>
    <%= f.text_field :username, placeholder: 'Enter Username' %><br><br>
  
    <%= f.label :email, 'Email : ' %><br>
    <%= f.email_field :email, placeholder: 'email@example.com' %><br><br>
  
    <%= f.label :password, 'Password : ' %><br>
    <%= f.password_field :password, placeholder: 'Password' %><br><br>
  
    <%= f.submit :submit %>
  
  <% end %>

</div>

<br>
<br>
<div class="link">
  <%= link_to 'Back to users', users_path  %>
</div>
