<h1>Update user</h1>

<%# <form accept-charset="UTF-8" method="POST" action="/users">
  <label for="username">Username: </label>
  <input type="text" id="username" name="user[username]"><br><br>
  <label for="email">Email: </label>
  <input type="email" id="email" name="user[email]"><br><br>
  <label for="password">Password: </label>
  <input type="password" id="password" name="user[password]"><br><br>
  <input type="submit" value="Submit"> %>
  <%# <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token" %> 
  <%# > %>
<%# </form> %>

<!-- <%= form_tag('/users') do %>
  <%= label_tag 'username'%>
  <%= text_field_tag 'user[username]' %><br/>

  <%= label_tag 'email' %>
  <%= email_field_tag 'user[email]' %><br/>

  <%= label_tag 'password'%>
  <%= password_field_tag 'user[password]'%><br/>

  <%= submit_tag 'Create' %>
<% end %> -->
<%= link_to 'Back to users', users_path %>
 
<%= form_for @user do |f| %>
  <%= f.label :username, 'Enter your username here : ' %>
  <%= f.text_field :username, placeholder: 'Enter Username' %><br>

  <%= f.label :email, 'Email : ' %>
  <%= f.email_field :email, placeholder: 'email@example.com' %><br>

  <%= f.label :password, 'Password : ' %>
  <%= f.password_field :password, placeholder: 'Password' %><br>

  <%= f.submit :submit %>

<% end %>
